.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 40px;
  min-width: 300px;
}

.cardWrapper {
  background-color: var(--primary);
  padding: 30px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  color: var(--white);
}

.content {
  line-height: 24px;
  /* text-align: center; */
  max-width: 320px;
}
