.container {
  background-color: #101f27;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .logo {
  height: 100px;
  width: 100px;
} */

.logoTitle {
  /* color: white; */
}

.link {
  color: red;
  padding: 10px;
}
