.container {
  background-color: #101f27;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .logo {
  height: 100px;
  width: 100px;
} */

.logoTitle {
  color: white;
}

.link {
  color: white;
  padding: 10px;
}
