.heroContainer {
  margin-top: 68px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/rvk.jpg);

  background-position: cover;
  /* Set a specific height */
  height: 70vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: whitesmoke;
}

.subTitle {
  color: gray;
}
