.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  text-align: center;
}

.employeeListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  list-style: none;
}

.employeeContainer {
  padding: 30px;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  margin: 20px;
}

.image {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: bolder;
}

.education {
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: center;
}

.description {
  text-align: center;
}

.phoneNumber {
  margin: 0px;
  text-decoration: none;
  color: gray;
}
