.footerContainer {
  min-height: 200px;
  width: 100%;
  background-color: var(--primary);
  color: white;
}

.content {
  padding-top: 20px;
  margin-bottom: 30px;
}

a {
  color: white;
}

.contactLabel {
  font-weight: bolder;
}
