@charset "utf-7";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: black;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

.navbar,
.navbar-menu {
  &.is-transparent {
    background-color: transparent;
    background-image: none;
  }
}

.has-bg-img {
  // background: url('/assets/rvk.jpg')center center;
  // background: url('/assets/rvk.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(/assets/rvk.jpg);
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
}

// .section {
//   background-color: #333333;
// }
