body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-dark);
}

a,
p,
div,
h1,
h2,
h3 {
  color: var(--white);
}

:root {
  /* --almost-white: #f5f5f5;
  --light-gray: #f5f5f5;
  --almost-black: #020202;
  --almost-black: #020202; */
  --white: #f5f5f5;
  --background: #f5f5f5;
  --primary: #263238;
  --primary-light: #4f5b62;
  --primary-dark: #000a12;
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
  --secondary: #fdd835;
  --secondary-light: #ffff6b;
  --secondary-dark: #c6a700;
}
