.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.wrapper {
  display: flex;
  max-width: 1000px;
}

.content {
  line-height: 24px;
  /* text-align: center; */
}
